*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background-color: #f0f7f8;
}
h1{
    font-size: 5rem;
}
.btn{
    display: flex;
    gap: 1rem;
    & >*{
      border: none;
      background-color: gray;
      box-shadow: 0px 0px 10px #cfd8dc;
      font-size: 2rem;
      color: inherit;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      outline: none;
      transition: background-color 250ms ease-in-out transistion 50ms ease-in-out;
      &:hover{
        background-color: #cfd8dc;
      }
      &:active{
        transform: scale(0.9);
      }
    }
}
.negative{
    color: #ff1744;
    animation: plus 500ms ease-in-out;
}
.positive{
    color: #2abf77;
    animation: plus 500ms ease-in-out;
}
@keyframes plues{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}